**/__pycache__/
**/.ipynb_checkpoints/
**/datasets/
**/data/
**/.tmp/
**/models/
**/cifar-10-batches-py/
**/lightning_logs/
**/segmentation_data/
*.txt
*.png
*.jpg
*.pdf
*.gz
*.tar
*.zip
*.pt
*.DS_Store
*.pth
*.h5
backup.py
DeepVision/HW10/.tmp
DeepVision/HW10/models
DeepVision/Final/ADE20K_2021_17_01
bfg.jar
DeepVision/Final/Dataset
Deeplearning/Final/VOCdevkit/VOC2007
Deeplearning/Final/mAP
DeepVision/Final/Dataset/images/target**/__pycache__/
**/.ipynb_checkpoints/
**/datasets/
**/models/
**/lightning_logs/
*.pdf
*.gz
*.tar
*.zip
